#nav-bar {
    position: sticky;
}
.nav-bar {
    display: flex;
    background-color: rgb(0,187,136);
}

.nav-bar > .tab {
    padding: 20px;
}

.nav-bar > .tab > a {
    text-decoration: none;
    color: white;
}

.nav-bar > .tab:hover {
    background-color: DarkCyan;
}


#main-body {
    display: flex;
    margin: 1rem;
}

.about > p {
    color: black;
    margin-left: 0px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    top: 150px;
}

.pic > img {
    max-width: 80%;
    margin: auto;
}

.vid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    top: 150 px;
}

.project {
    display: flex;
    padding-top: 25px;
}

.icon > a > img {
    max-width: 100%;
}

.profile-pic > img {
    max-width: 80%;
}

.intro > p {
    color: black;
}

iframe {
    max-width: 80%;
    margin: auto;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    color: white;
}

.description > p {
    background-color: rgb(0,126,221);
    color: white;
    padding: 20px;
    margin-left: 50px;
}

h1 {
    padding: 15px;
    background-color: DarkCyan;
    color: white;
}

h2 {
    color: rgb(0,126,221);
    margin-left: 50px;
}

h3 {
    color: black;
}

button {
    color: white;
    padding: 15px;
    background-color: rgb(0,187,136);
    font-size: 16px;
}
