#nav-bar {
    position: sticky;
    /* margin-top: 1rem; */
}
.nav-bar {
    display: flex;
    background-color: rgb(0,187,136);
}

.nav-bar > .tab {
    padding: 20px;
}

.nav-bar > .tab > a {
    text-decoration: none;
    color: white;
}

.nav-bar > .tab:hover {
    background-color: DarkCyan;
}


#main-body {
    margin-top: 1rem;
}

.profile-pic {
    max-width: 400px;
    float: left;
    margin-right: 20px;
    width: 50%;
}

.profile-pic > img {
    width: 100%;
    height: auto;
}

.about {
    color: black;
    padding-right: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-gap: 2rem;
    /* top: 150px; */
}

.pic {
    margin: auto;
}

.pic > img {
    max-width: 100%;
}

.vid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    top: 150 px;
}

.project {
    display: flex;
    padding-top: 25px;
}

.icon > a > img {
    max-width: 100%;
}

.intro > p {
    color: black;
}

iframe {
    max-width: 80%;
    margin: auto;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    color: white;
}

.description > p {
    background-color: rgb(0,126,221);
    color: white;
    padding: 20px;
    margin-left: 50px;
}

h1 {
    padding: 15px;
    background-color: DarkCyan;
    color: white;
}

h2 {
    color: rgb(0,126,221);
}

h3 {
    color: black;
}


button {
    color: white;
    padding: 15px;
    background-color: rgb(0,187,136);
    font-size: 16px;
}
