.nav-bar {
    display: flex;
    background-color: rgb(0, 187, 136);
    max-height: 50px;
}

.tab {
    cursor: pointer;
    max-height: 50px;
}

.tab > p {
    display: flex;
    color: white;
    padding: 15px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.tab > p:hover {
    background-color: DarkCyan;
}

.header > h1 {
    padding: 15px;
    background-color: DarkCyan;
    color: white;
}

.body {
    margin-left: 20px;
    margin-right: 20px;
}

.profile-pic {
    max-width: 400px;
    float: left;
    margin-right: 20px;
    width: 50%;
}

.profile-pic > img {
    width: 100%;
    height: auto;
}

.about {
    padding-right: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, auto));
    grid-gap: 2rem;
    margin-top: 20px;
}

.pic {
    margin: auto;
}

.pic > img {
    max-width: 100%;
    cursor: pointer;
}

.vid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, auto));
    grid-gap: 2rem;
    margin-top: 20px;
}

iframe {
    max-width: 100%;
    margin: auto;
}

.project {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 50px;
    min-width: 150px;
}

.icon > a > img {
    max-width: 100%;
}

.intro > p {
    color: black;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description > p {
    background-color: rgb(0,126,221);
    color: white;
    padding: 20px;
}

.description > h2 {
    color: rgb(0,126,221);
}

.body {
    margin-bottom: 20px;
}
